<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta http-equiv="Content-Type" CONTENT="text/html" charset="UTF-8"/>
        <meta name="viewport" CONTENT="width=device-width, initialscale=1 , maximum-scale=1.0, user-scalable=no" />
        <title>Domyslny tytul</title>
        <link href="webjars/materializecss/0.97.3/css/materialize.css"
              type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
    <section layout:fragment="content">
        <p>Zawartosc strony</p>
    </section>
        <script src="webjars/jquery/3.3.1/jquery.js"></script>
        <script src="webjars/materializecss/0.97.3/js/materialize.js"></script>

    </body>
</html>