<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Welcome!</h1>

<div>

<form action="#" th:action="@{/document/listdoc}" method="post" enctype="multipart/form-data">

    <label for="title">Title:</label>
    <input type="text"  id="title"/>

    <br>
    <label for="pdffile">PDF file:</label>
    <input type="file" th:name="pdf" id="pdffile"/>
    <br>
    <input type="submit" value="Add Document">
</form>
</div>
</body>
</html>