<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>

</head>
<body>


<div>

<h1>Welcome!</h1>
<p>Please Log In: </p>

<form action="#" th:action="@{/login}" th:object="${user}" method="post">
    <!--/*@thymesVar id="error" type=""*/-->
    <div th:if="${param.error}" class="alert alert-error">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out.
    </div>

    <label for="username">Username</label>
    <br>
    <input type="text" th:field="*{username}" id="username"/>

    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" th:field="*{password}" id="password"/>
    <br>
    <p></p><input type="submit" value="Login"/> <input type="reset" value="Reset"/></p>
</form>

<p>Don't have account?</p>
<br>
<a href="adduser.html" th:href="@{/adduser}">Register now!</a>
</div>


</body>
</html>